:root{
    --textcolor:#4A2A1A;

}

@font-face {
    font-family: t;
    src: url('./assets/Tanha-FD.woff2')format('woff2');
}

*{
    font-family: t;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#FBE9C7 ;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content:right;
   
}

.top-menu{
    display: flex;
    justify-content: center;
    gap: 100px;
     margin-right: -30px;
    
}

.top-menu a{
    color: var(--textcolor);
    font-weight: bold;
    font-size:large;
}

.main-title{color: var(--textcolor);
    font-weight: bold;
    font-size:xx-large;
    font-size: 50px;
    margin: 15px;
    text-align: center;

}

.main-second-title{color: var(--textcolor);
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
    text-align: center;

}

.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-img img{
    border-radius: 20px;
    margin: 40px;
    box-shadow: 0 0 25px 10px var(--textcolor);
}